<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Address">
    <result column="id" jdbcType="INTEGER" property="id"/>
    <result column="uId" jdbcType="INTEGER" property="uId" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="aDefault" jdbcType="INTEGER" property="aDefault" />
    <result column="contract_man" jdbcType="VARCHAR" property="contract_man" />
    <result column="contract_tel" jdbcType="VARCHAR" property="contract_tel" />
  </resultMap>
  <insert id="insert" parameterType="com.pojo.Address">
    insert into address (id,uId, addr, aDefault,contract_man,contract_tel
      )
    values (#{id,jdbcType=INTEGER},#{uId,jdbcType=INTEGER}, #{addr,jdbcType=VARCHAR}, #{aDefault,jdbcType=INTEGER},#{contract_man,jdbcType=VARCHAR},#{contract_tel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uId != null">
        uId,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="aDefault != null">
        aDefault,
      </if>
      <if test="contract_man != null">
        contract_man,
      </if>
      <if test="contract_tel != null">
        contract_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="aDefault != null">
        #{aDefault,jdbcType=INTEGER},
      </if>
      <if test="contract_man != null">
        #{contract_man,jdbcType=VARCHAR},
      </if>
      <if test="contract_tel != null">
        #{contract_tel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--jiehao 11-29 删除地址-->
  <delete id="delCustmerAddr" parameterType="java.lang.Integer">
    delete from address where id=#{id}
  </delete>
  <!--jiehao  11-29  查找用户地址-->
  <select id="findCustmerAddr" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from address where uId=#{uId}
  </select>
   <!--jiehao 11-29 修改地址-->
  <update id="updateCustmerAddr" parameterType="com.pojo.Address">
    update address
    <set>
      <if test="uId !=null">
        uId=#{uId},
      </if>
      <if test="addr !=null">
        addr=#{addr},
      </if>
      <if test="aDefault !=null">
        aDefault=#{aDefault},
      </if>
      <if test="contract_man !=null">
        contract_man=#{contract_man},
      </if>
      <if test="contract_tel !=null">
        contract_tel=#{contract_tel},
      </if>
    </set>
    where id=#{id}
  </update>
<!-- jiehao 12-17 修改地址为默认地址-->
  <update id="updateCusAddrDefault" parameterType="com.pojo.Address">
    update address
    <set>
      <if test="aDefault !=null">
        aDefault=#{aDefault},
      </if>
    </set>
    where id=#{id}
  </update>
  <!-- jiehao 12-17 修改地址为普通地址-->
  <update id="updateCusAddrCommon" parameterType="com.pojo.Address">
    update address
    <set>
      <if test="aDefault !=null">
        aDefault=#{aDefault},
      </if>
    </set>
    where uId=#{uId} and aDefault= 0
  </update>
  <!--jiehao 12-17 找原来默认地址-->
  <select id="findAddressDefault" resultType="com.pojo.Address">
    select * from address where uId=#{uId} and aDefault= 0
  </select>


</mapper>