<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Comments">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uId" jdbcType="INTEGER" property="uid" />
    <result column="comment_time" jdbcType="VARCHAR" property="comment_time" />
    <result column="mId" jdbcType="INTEGER" property="mid" />
    <result column="oId" jdbcType="INTEGER" property="oid" />
    <result column="detail" jdbcType="INTEGER" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uId, comment_time, mId, oId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Comments">
    insert into comments (id, uId, comment_time, 
      mId, oId,detail)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{comment_time,jdbcType=VARCHAR},
      #{mid,jdbcType=INTEGER}, #{oid,jdbcType=INTEGER}, #{detail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Comments">
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uId,
      </if>
      <if test="comment_time != null">
        comment_time,
      </if>
      <if test="mid != null">
        mId,
      </if>
      <if test="oid != null">
        oId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="comment_time != null">
        #{commentTime,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Comments">
    update comments
    <set>
      <if test="uid != null">
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="comment_time != null">
        comment_time = #{commentTime,jdbcType=VARCHAR},
      </if>
      <if test="mid != null">
        mId = #{mid,jdbcType=INTEGER},
      </if>
      <if test="oid != null">
        oId = #{oid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Comments">
    update comments
    set uId = #{uid,jdbcType=INTEGER},
      comment_time = #{comment_time,jdbcType=VARCHAR},
      mId = #{mid,jdbcType=INTEGER},
      oId = #{oid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>