<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Customer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tell" jdbcType="VARCHAR" property="tell" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="addr_id" jdbcType="INTEGER" property="addrId" />
    <result column="head_addr" jdbcType="VARCHAR" property="headAddr" />
    <result column="vip" jdbcType="INTEGER" property="vip" />
    <result column="cLock" jdbcType="INTEGER" property="clock" />
    <result column="passwordSalt" jdbcType="VARCHAR" property="passwordsalt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tell, userName, password,  head_addr, vip, cLock, passwordSalt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Customer">
    insert into customer (id, tell, userName, 
      password,  head_addr,
      vip, cLock, passwordSalt
      )
    values (#{id,jdbcType=INTEGER}, #{tell,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR},  #{headAddr,jdbcType=VARCHAR},
      #{vip,jdbcType=INTEGER}, #{clock,jdbcType=INTEGER}, #{passwordsalt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tell != null">
        tell,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="addrId != null">
        addr_id,
      </if>
      <if test="headAddr != null">
        head_addr,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="clock != null">
        cLock,
      </if>
      <if test="passwordsalt != null">
        passwordSalt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tell != null">
        #{tell,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="addrId != null">
        #{addrId,jdbcType=INTEGER},
      </if>
      <if test="headAddr != null">
        #{headAddr,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        #{vip,jdbcType=INTEGER},
      </if>
      <if test="clock != null">
        #{clock,jdbcType=INTEGER},
      </if>
      <if test="passwordsalt != null">
        #{passwordsalt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Customer">
    update customer
    <set>
      <if test="tell != null">
        tell = #{tell,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="addrId != null">
        addr_id = #{addrId,jdbcType=INTEGER},
      </if>
      <if test="headAddr != null">
        head_addr = #{headAddr,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        vip = #{vip,jdbcType=INTEGER},
      </if>
      <if test="clock != null">
        cLock = #{clock,jdbcType=INTEGER},
      </if>
      <if test="passwordsalt != null">
        passwordSalt = #{passwordsalt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Customer">
    update customer
    set tell = #{tell,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      addr_id = #{addrId,jdbcType=INTEGER},
      head_addr = #{headAddr,jdbcType=VARCHAR},
      vip = #{vip,jdbcType=INTEGER},
      cLock = #{clock,jdbcType=INTEGER},
      passwordSalt = #{passwordsalt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- jiehao 11-29 通过姓名查找信息-->
  <select id="findByUserName" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from customer
    where userName = #{userName}
  </select>
  <!-- jiehao 11-29 通过id查找信息-->
  <select id="findCustmerMessager" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from customer
    where id = #{id}
  </select>

</mapper>