<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MerchantMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Merchant">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tell" jdbcType="VARCHAR" property="tell" />
    <result column="mType" jdbcType="VARCHAR" property="mType" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="head_addr" jdbcType="VARCHAR" property="head_Addr" />
    <result column="mLock" jdbcType="VARCHAR" property="mLock" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="state_message_addr" jdbcType="VARCHAR" property="state_message_addr" />
    <result column="passwordSalt" jdbcType="VARCHAR" property="passwordSalt" />
    <result column="shopName" jdbcType="VARCHAR" property="shopName" />
    <result column="sale" jdbcType="VARCHAR" property="sale" />
    <result column="idName" jdbcType="VARCHAR" property="idName"/>
    <result column="idCard" jdbcType="VARCHAR" property="idCard"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, tell, mType, userName, password, addr, head_addr, mLock, state, state_message_addr, 
    passwordSalt,shopName,sale,idName,idCard
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Merchant">
    insert into merchant (id, tell, mType, 
      userName, password, addr, 
      head_addr, mLock, state, 
      state_message_addr, passwordSalt,shopName,sale,idName,idCard)
    values (#{id,jdbcType=INTEGER}, #{tell,jdbcType=VARCHAR}, #{mtype,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{headAddr,jdbcType=VARCHAR}, #{mlock,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{stateMessageAddr,jdbcType=VARCHAR}, #{passwordsalt,jdbcType=VARCHAR},
      #{shopName,jdbcType=VARCHAR},#{sale,jdbcType=VARCHAR},#{idName,jdbcType=VARCHAR},
      #{idCard,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Merchant">
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tell != null">
        tell,
      </if>
      <if test="mType != null">
        mType,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test=" head_addr != null">
        head_addr,
      </if>
      <if test="mLock != null">
        mLock,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="state_message_addr != null">
        state_message_addr,
      </if>
      <if test="passwordSalt != null">
        passwordSalt,
      </if>
      <if test="shopName != null">
        shopName,
      </if>
      <if test="sale != null">
       sale,
      </if>
      <if test="idName!=null">
        idName,
      </if>
      <if test="idCard!=null">
        idCard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tell != null">
        #{tell,jdbcType=VARCHAR},
      </if>
      <if test="mType != null">
        #{mType,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="head_addr != null">
        #{head_addr,jdbcType=VARCHAR},
      </if>
      <if test="mLock != null">
        #{mLock,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="state_message_addr != null">
        #{state_message_addr,jdbcType=VARCHAR},
      </if>
      <if test="passwordSalt != null">
        #{passwordSalt,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=VARCHAR},
      </if>
      <if test="idName!=null">
        #{idName,jdbcType=VARCHAR},
      </if>
      <if test="idCard!=null">
        #{idCard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Merchant">
    update merchant
    <set>
      <if test="tell != null">
        tell = #{tell,jdbcType=VARCHAR},
      </if>
      <if test="mType != null">
        mType = #{mType,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="head_addr != null">
        head_addr = #{head_addr,jdbcType=VARCHAR},
      </if>
      <if test="mLock != null">
        mLock = #{mLock,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="state_message_addr != null">
        state_message_addr = #{state_message_addr,jdbcType=VARCHAR},
      </if>
      <if test="passwordSalt != null">
        passwordSalt = #{passwordSalt,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
       shopName = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
       sale = #{sale,jdbcType=VARCHAR},
      </if>
      <if test="idName!=null">
      idName = #{idName,jdbcType=VARCHAR},
      </if>
      <if test="idCard!=null">
      idCard = #{idCard,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Merchant">
    update merchant
    set tell = #{tell,jdbcType=VARCHAR},
      mType = #{mType,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      head_addr = #{head_addr,jdbcType=VARCHAR},
      mLock = #{mLock,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      state_message_addr = #{state_message_addr,jdbcType=VARCHAR},
      passwordSalt = #{passwordSalt,jdbcType=VARCHAR},
      shopName= #{shopName,jdbcType=VARCHAR},
      sale = #{sale,jdbcType=VARCHAR},
      idName = #{idName,jdbcType=VARCHAR},
      idCard = #{idCard,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- jhao 11-24 根据类型返回商家 -->
  <select id="listMerchantByType" parameterType="String" resultType="com.pojo.Merchant">
    SELECT * FROM merchant
      WHERE mType=#{mType} and state=1 and mLock=0
  </select>

  <!-- jhao 11-26 返回所有商家的类型 -->
  <select id="listMerType" resultType="java.lang.String">
    SELECT DISTINCT mType from merchant
  </select>

  <!-- jiehao 11-29 返回商家信息-->
<select id="findByMerchantName" resultMap="BaseResultMap">
  select  * from merchant where userName=#{userName}
</select>

  <!--jiehao 11-29 返回单个商家id-->
  <select id="merchantFindId" resultType="java.lang.Integer">
    select id from merchant where shopName=#{shopName}
  </select>

  <!-- jiehao 11-29 通过id查找商家信息-->
  <select id="findMerchantMessage" resultMap="BaseResultMap">
    select * from merchant where id=#{id}
  </select>

  <!--jiehao 12-3 管理员封号-->
  <update id="updateMerLock" >
    update merchant
    set mLock = #{mLock}
    where id = #{mId}
  </update>

  <!--jiehao 12-10 查找商家总人数-->
  <select id="findMerchantTotal" resultType="java.lang.Integer">
    select COUNT(*) from merchant where state=1 and mLock=0
  </select>
<!-- jiehao 12-10 分页查找商家信息-->
<select id="managerFindMerchant" resultType="com.pojo.Merchant">
  select * from merchant where state=1 and mLock=0 limit #{startPos},#{pageSize};
</select>
<!--jiehao 12-10 查看所有商家信息-->
  <select id="managerFindAllMerchant" resultType="com.pojo.Merchant">
    select id,userName,tell,mType,mLock,state,shopName,idName,idCard
    from merchant
    <where>
      state=1
      <if test="id!=null">
       and id=#{id}
      </if>
      <if test="username">
       and userName=#{username}
      </if>
      <if test="tell!=null">
        and tell=#{tell}
      </if>
      <if test="mType!=null">
        and mType=#{mType}
      </if>
      <if test="mLock">
        and mLock=#{mLock}
      </if>
      <if test="shopName!=null">
        and shopName=#{shopName}
      </if>
    </where>
  </select>
<!--jiehao 12-11 查找未审核商家-->
  <select id="findUnreviewedMessage" resultType="com.pojo.Merchant">
    select *
    from merchant
    <where>
      state=0 and mLock=0
      <if test="id!=null">
        and id=#{id}
      </if>
      <if test="username">
        and userName=#{username}
      </if>
      <if test="tell!=null">
        and tell=#{tell}
      </if>
      <if test="mType!=null">
        and mType=#{mType}
      </if>
      <if test="shopName!=null">
        and shopName=#{shopName}
      </if>
    </where>
  </select>

  <!--jiehao 12-11 管理员审核商家-->
  <update id="updateReviewMerchantMessage">
    update merchant
    set state = #{state}
    where id = #{mId}
  </update>

  <!-- jiehao 12-12 返回list商家集合-->
  <select id="findListMerchantByName" resultType="com.pojo.Merchant">
    select  * from merchant where shopName=#{shopName}
  </select>


</mapper>