<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.OrderMapper">
  <!-- jhao 12-7 注释自动生成的配置 -->
  <resultMap id="BaseResultMap" type="com.pojo.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oi_id" jdbcType="VARCHAR" property="oiId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="uId" jdbcType="INTEGER" property="uid" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="total_price" jdbcType="DECIMAL" property="total_price" />
    <result column="stated" jdbcType="VARCHAR" property="stated" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
  </resultMap>
  <!--<sql id="Base_Column_List">-->
    <!--id, oi_id, create_time, uId, addr, total_price-->
  <!--</sql>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from order-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from order-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.pojo.Order">-->
    <!--insert into order (id, oi_id, create_time, uId, addr, total_price)-->
    <!--values (#{id,jdbcType=INTEGER}, #{oiId,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP},-->
      <!--#{uid,jdbcType=INTEGER}, #{addr,jdbcType=VARCHAR}, #{total_price,jdbcType=DECIMAL}-->
      <!--)-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.pojo.Order">-->
    <!--insert into order-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="oiId != null">-->
        <!--oi_id,-->
      <!--</if>-->
      <!--<if test="create_time != null">-->
        <!--create_time,-->
      <!--</if>-->
      <!--<if test="uid != null">-->
        <!--uId,-->
      <!--</if>-->
      <!--<if test="addr != null">-->
        <!--addr,-->
      <!--</if>-->
      <!--<if test="total_price != null">-->
        <!--total_price,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="oiId != null">-->
        <!--#{oiId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="create_time != null">-->
        <!--#{create_time,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="uid != null">-->
        <!--#{uid,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="addr != null">-->
        <!--#{addr,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="total_price != null">-->
        <!--#{total_price,jdbcType=DECIMAL},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.pojo.Order">-->
    <!--update order-->
    <!--<set>-->
      <!--<if test="oiId != null">-->
        <!--oi_id = #{oiId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="create_time != null">-->
        <!--create_time = #{create_time,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="uid != null">-->
        <!--uId = #{uid,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="addr != null">-->
        <!--addr = #{addr,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="total_price != null">-->
        <!--total_price = #{total_price,jdbcType=DECIMAL},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.pojo.Order">-->
    <!--update order-->
    <!--set oi_id = #{oiId,jdbcType=VARCHAR},-->
      <!--create_time = #{create_time,jdbcType=TIMESTAMP},-->
      <!--uId = #{uid,jdbcType=INTEGER},-->
      <!--addr = #{addr,jdbcType=VARCHAR},-->
      <!--total_price = #{total_price,jdbcType=DECIMAL}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->

  <!-- jhao 获取订单id -->
  <select id="getOrderId" resultType="java.lang.Integer">

    SELECT
    AUTO_INCREMENT
    FROM
    INFORMATION_SCHEMA. TABLES
    WHERE
    TABLE_NAME = 'orderr'

  </select>
  <!-- jhao 添加订单-->
  <insert id="inserted" parameterType="com.pojo.Order">
    INSERT INTO orderr(oi_id, create_time, uId, addr, total_price, mid)
    VALUES ( #{oiId,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP},
      #{uid,jdbcType=INTEGER}, #{addr,jdbcType=VARCHAR}, #{total_price,jdbcType=DECIMAL}, #{mid,jdbcType=INTEGER})

  </insert>

  <!-- jhao 查看最新的三条已完成的订单-->
  <select id="checkOrder" resultMap="BaseResultMap">
    select * from orderr WHERE uid=#{uid} and stated="5"
    ORDER BY create_time DESC LIMIT 3
  </select>

  <!-- jhao商家接单之后的修改数据库状态 -->
  <update id="receiveOrder" parameterType="java.lang.Integer">
    update orderr set stated="2" where id=#{id}
  </update>

  <!-- jhao商家获取某些状态的订单-->
  <select id="getOrders" resultMap="BaseResultMap">
    SELECT * FROM orderr
    WHERE mid=#{mid} and stated=#{stated}
  </select>
  <!-- jiehao 12-20 通过id获取订单信息-->
  <select id="findOrder" resultType="com.pojo.Order">
    select * from orderr where id=#{id}
  </select>
   <!-- jiehao 11-20 修改订单为已付款状态-->
  <update id="updateOrder">
    update orderr
    set stated =#{stated}
    where id=#{id}
  </update>


  <update id="updateOrderAddr">
    update orderr
    set addr =#{addr}
    where id=#{id}
  </update>

  <!-- jhao商家确认订单之后的修改数据库状态 -->
  <update id="changeOrderState" parameterType="com.pojo.Order">
    update orderr set stated=#{stated} where id=#{id}
  </update>
</mapper>